@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'poppinsregular';
    max-width: 90vw;
    margin: 0 auto;
    padding: 10px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    
}



.cabecalho .titulo {
    display: flex;
    line-height: 40px;
    font-weight: 200;
    
    font-family: 'poppinsbold';
    font-size: 3em;
    

}

.cabecalho .menu {
    display: flex;
    gap: 20px;
    padding: 30px;
    margin: 60px 0px 50px 20px;
    justify-content: center;
    align-items: center;
    
    
   
}

.cabecalho .menu li {
    list-style: none;
    margin: 0px 20px;
    
    
    
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 10px;
}
a:hover {
    color: rgb(132, 14, 201);
    background-color: white;
    border: 2px solid #fff;
    transition: 0.35s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    border-radius: 10px;
    
}

.inscrever {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 10px;
}



.home {
    display: flex;
    flex-direction: row;
    
    
}

.home .conteudo {
    width: 800px;
}

.home .titulo {
    font-size: 56px;
    line-height: 50px;
    font-family: 'poppinsmedium';
}

.home .titulo .principal {
    color: rgb(132, 14, 201);
}

.home p {
    line-height: 20px;
    max-width: 500px;
    margin: 20px 0;
}

.home .formulario {
    display: flex;
    flex-direction: column;
    width: 70%;
   
}

.home .formulario input {
    margin-bottom: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 0;
    font-size: 15px;
    

}

.home .formulario .btn-enviar {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    cursor: pointer;
    font-weight: bold;

   

}
.home .formulario .btn-enviar:hover {
    background-color: white;
    color: rgb(132, 14, 201);
}







