@media screen and (max-width: 1260px) {
    .home {
        flex-direction: column;
        width: 70%;
        margin: auto;
        
        justify-content: center;
    }

    
}

@media screen and (max-width: 970px) {
    .cabecalho {
        flex-direction: column;
        margin: 30px;
    }

    .cabecalho .menu {
        margin: 30px 30px 0px 30px;
    }

    .home {
        width: 600px;
    }

    
}

@media screen and (max-width: 600px) {
    body {
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cabecalho .menu{
        flex-direction: column;
        text-align: center;
    }

     .cabecalho .titulo {
        font-size: 40px;

    }

    .home {
        justify-content: center;
        align-items: center;
       
        margin: 0 auto;
        padding: 10px;
        width: 200px;
        
    }

    .home .conteudo {
        max-width: 330px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }

    .home .titulo {
        font-size: 33px;
        line-height: 30px;
        
    }

    .home p {
        max-width: 300px;
        text-indent: 20px;
       
       
        text-align: justify;
    
        
    }

   .home .formulario {
    
    align-items: center;
   }

    .home .imagem img{
        width: 300px;
    }
        
       
    
    
}